@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;

0,400;0,500;1,700&display=swap");
@font-face {
  font-family: "EastSeaDokdo-Regular";
  font-display: swap;
  src: url("../fonts/EastSeaDokdo-Regular.woff") format("woff"), url("../fonts/EastSeaDokdo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "XanhMono-Italic";
  font-display: swap;
  src: url("../fonts/XanhMono-Italic.woff") format("woff"), url("../fonts/XanhMono-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "XanhMono-Regular";
  font-display: swap;
  src: url("../fonts/XanhMono-Regular.woff") format("woff"), url("../fonts/XanhMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: url(../img/icons/menu_page/arrow-down.png) center no-repeat;
}

.checkbox__text {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #fff;
  letter-spacing: -0.3px;
  line-height: calc(20/16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  align-items: flex-start;
  margin: 0px 14px 0px 0px;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

._container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

._container a {
  text-decoration: none;
}

body {
  color: #000;
  font-size: 14px;
  margin: 0;
}

body._lock {
  overflow: hidden;
}

body.lock {
  overflow: hidden;
}

.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: #fff url("../img/bg-header1920.png") top no-repeat;
}

.top-header {
  overflow: hidden;
}

.top-header__content {
  display: flex;
  align-items: center;
  height: 90px;
}

.top-header__column {
  flex: 0 1 50%;
}

.top-header__column__logo {
  align-self: flex-start;
  padding: 15px 0px 0px 19px;
  flex: 0 0 190px;
  text-align: center;
}

.top-header__logo {
  position: relative;
  z-index: 5;
  display: inline-block;
}

.top-header__contacts {
  z-index: 5;
  position: relative;
}

.menu ul {
  margin-left: 0;
  padding-left: 0;
}

.menu__list {
  display: grid;
  grid-template-columns: 110px 130px 180px;
}

.menu__list li {
  list-style-type: none;
  margin: 2px 0px;
}

.menu__list li a {
  text-decoration: underline;
  color: #fff;
  font-weight: 700;
}

.menu__link {
  min-height: 27px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px 22px;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
  font-size: 14px;
  padding: 5px 22px;
}

.contacts-header {
  display: flex;
  justify-content: center;
}

.contacts-header__column {
  padding: 0 30px;
}

.contacts-header__item_icon {
  padding: 0px 0px 0px 37px;
  background: url("../img/icons/header/phone.png") left no-repeat;
}

.contacts-header__lable {
  font-size: 12px;
  font-weight: 300;
  color: white;
}

.contacts-header__phone {
  color: white;
  font-size: 18px;
  font-weight: 900;
  white-space: nowrap;
}

.lable {
  font-size: 12px;
  font-weight: 300;
  color: white;
  margin: 0px 0px 5px 0px;
}

.bottom-header__container {
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-header__column {
  flex: 0 1 calc(50% - 95px);
}

.actions-header {
  display: flex;
  align-items: center;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.actions-header li {
  list-style: none;
  list-style-type: none;
  margin: 0px 54px 0px 0px;
}

.actions-header li:last-child {
  margin: 0px 0px 0px 0px;
}

.actions-header li a {
  text-decoration: none;
}

.actions-header__item {
  line-height: 24px;
  display: inline-block;
  color: #999999;
  padding: 0px 0px 0px 36px;
}

.actions-header__item span {
  border-bottom: 1px dotted;
}

.actions-header__item_login {
  background: url(../img/icons/header/login.png) left no-repeat;
}

.actions-header__item_reg {
  background: url(../img/icons/header/reg.png) left no-repeat;
}

.actions-header__item_email {
  background: url(../img/icons/header/email.png) left no-repeat;
}

.actions-header__item_email span {
  border-bottom: 1px solid;
}

.info-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-header__column {
  padding: 0px 30px 0px 0px;
}

.info-header__column:last-child {
  padding: 0;
}

.info-header a {
  text-decoration: none;
}

.info-header__callback {
  background: url(../img/icons/header/blluePhone.png) left no-repeat;
  display: inline-block;
  color: #1cb9ce;
  line-height: 20px;
  padding: 0px 0px 0px 32px;
  white-space: nowrap;
}

.info-header__callback span {
  border-bottom: 1px dotted;
}

.info-header__schedue {
  background: url(../img/icons/header/calendar.png) left no-repeat;
  line-height: 18px;
  font-size: 12px;
  font-weight: 300;
  padding: 0px 0px 0px 37px;
  color: #999999;
  z-index: 4;
}

.info-header__schedue p {
  border-bottom: 1px dotted;
}

.info-header__schedue p span {
  font-weight: 900;
}

.info-header__cart {
  width: 43px;
  height: 43px;
  display: inline-block;
  background: url(../img/icons/header/cart.png) 0 0/100% no-repeat;
  position: relative;
}

.info-header__cart span {
  padding: 0px 11px;
  border-radius: 20px;
  position: absolute;
  line-height: 25px;
  background-color: #f68038;
  right: -25px;
  top: -3px;
  font-size: 18;
  font-weight: 700;
  color: #fff;
}

.page {
  flex: 1 1 auto;
  padding: 160px 0px 0px 0px;
}

.page__side {
  flex: 0 0 260px;
  position: relative;
  z-index: 3;
}

.page__menu {
  margin: 0px 0px 40px 0px;
}

.page__search {
  margin: 0px 0px 22px 0px;
  z-index: 2;
}

.page__slider {
  margin: 0px 0px 65px 0px;
}

.page__news-side {
  margin: 0px 0px 75px 0px;
}

.page__news-side:last-child {
  margin: 0px 0px 0px 0px;
}

.menu-page {
  position: relative;
  background: url("../img/bg_menu.png") top repeat;
}

.menu-page ul {
  padding: 0;
}

.menu-page__header {
  padding: 20px 20px 20px 20px;
  display: flex;
  align-items: center;
}

.menu-page__title {
  flex: 1 1 auto;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  line-height: 113.33333%;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  padding-bottom: 15px;
}

.menu-page__burger {
  flex: 0 0 36px;
  width: 36px;
  height: 36px;
  background-color: #068292;
  display: block;
  position: relative;
  cursor: pointer;
  padding: 10px 6px;
}

.menu-page__burger span {
  transition: all 0.3s ease 0s;
  top: calc(50%);
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu-page__burger span:first-child {
  top: 0px;
}

.menu-page__burger span:last-child {
  top: auto;
  bottom: 0px;
}

.menu-page__burger._active span {
  transform: scale(0);
}

.menu-page__burger._active span:first-child {
  transform: rotate(-45deg);
  top: 7px;
}

.menu-page__burger._active span:last-child {
  transform: rotate(45deg);
  bottom: 7px;
}

.menu-page__lines {
  transition: all 0.4s ease 0s;
  height: 16px;
  position: relative;
}

.menu-page__body {
  display: none;
}

.menu-page__body._active {
  display: block;
}

.menu-page__list {
  margin-top: 0;
}

.menu-page__list > li {
  border-bottom: 1px solid #1aa7b9;
  list-style-type: none;
}

.menu-page__list > li a {
  text-decoration: none;
}

.menu-page__parent .menu-page__link::after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  width: 14px;
  height: 14px;
  transition: all 0.4s ease 0s;
  transform: translate(0px, -50%);
  background: url("../img/icons/menu_page/arrow.png") 0 0 no-repeat;
}

.menu-page__parent._active .menu-page__submenu {
  pointer-events: all;
}

.menu-page__parent._active .submenu-page__item {
  display: block;
}

.menu-page__parent._active .menu-page__link {
  background-color: #098494;
}

.menu-page__link {
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  display: block;
  padding: 12px 20px;
  position: relative;
}

.submenu-page__item {
  display: none;
}

.submenu-page__menu {
  border-bottom: 1px solid #dedede;
  padding: 20px 0px;
}

.submenu-page__menu li {
  list-style-type: none;
}

.submenu-page__menu li:last-child {
  margin-bottom: 15px;
}

.submenu-page__menu li:first-child {
  padding-top: 15px;
}

.submenu-page__menu li a {
  text-decoration: none;
}

.submenu-page__link {
  color: #1aa7b9;
  font-size: 12px;
  font-weight: 300;
  display: block;
  letter-spacing: 0.3px;
  padding: 10px 40px;
}

.submenu-page__product {
  padding: 0 15px;
}

.submenu-page__product .item-product {
  border: 0;
}

.items-products {
  display: flex;
  margin: 0px -15px;
  flex-wrap: wrap;
}

.items-products__column {
  flex: 0 1 33.333%;
  padding: 0px 15px;
  margin: 0px 0px 25px 0px;
}

.item-product {
  padding: 15px;
  position: relative;
  overflow: hidden;
  height: 100%;
  border: 1px solid #f5f5f5;
  display: flex;
  flex-direction: column;
}

.item-product__lables {
  position: absolute;
  left: 15px;
  top: 15px;
}

.item-product__lable {
  font-weight: 900;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 0px 0px 5px 0px;
  height: 21px;
  padding: 0px 15px;
  text-transform: uppercase;
  background-color: #f68038;
}

.item-product__image {
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.item-product__image img {
  max-width: 100%;
  max-height: 240px;
}

.item-product__title {
  color: #36949f;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  display: inline-block;
  margin: 0px 0px 5px 0px;
  text-decoration: none;
  flex: 1 1 auto;
  transition: all 0.5s ease 0s;
}

.item-product__title span {
  font-weight: 900;
}

.item-product__body {
  padding: 0px 10px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.item-product__footer {
  transition: all 0.5s ease 0s;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.item-product__old-price {
  flex: 1 1 100%;
  text-align: right;
  color: #999999;
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
}

.item-product__old-price::after {
  font-size: 14px;
}

.item-product__add {
  width: 40px;
  height: 40px;
  background: url("../img/icons/menu_page/cart_gray.png") 0 0 no-repeat;
}

.item-product__price {
  color: #333333;
  font-size: 24px;
  font-weight: 900;
}

.item-product__price::after {
  font-size: 18px;
}

.item-product__hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.5s ease 0s;
  transform: translate(-101%, 0px);
}

.hover-item-product {
  background: rgba(0, 0, 0, 0.84);
  border: 5px solid #f68038;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.hover-item-product__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #c2c2c2;
  margin: 0px 0px 25px 0px;
}

.hover-item-product__title span {
  display: block;
  font-weight: 900;
}

.hover-item-product__options {
  flex: 1 1 auto;
}

.hover-item-product__cart {
  background: url("../img/icons/menu_page/cart-orange.png") 0 0 no-repeat;
  width: 57px;
  height: 57px;
  margin: 0px auto 25px auto;
}

.hover-item-product__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hover-item-product__old-price {
  flex: 1 1 100%;
  text-align: right;
  color: #999999;
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
  margin: 0px 0px 10px 0px;
}

.hover-item-product__old-price::after {
  font-size: 14px;
}

.hover-item-product__stock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 10px;
  color: sandybrown;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 300;
  height: 21px;
  background-color: #fff;
}

.hover-item-product__price {
  font-size: 24px;
  font-weight: 900;
}

.hover-item-product__price::after {
  font-size: 18px;
}

.options-item-product__item {
  margin: 0px 0px 10px 0px;
}

.options-item-product__label {
  margin: 0px 0px 3px 0px;
}

.options-item-product__value {
  color: #f68038;
  font-weight: 900;
}

.search-page {
  display: flex;
  position: relative;
}

.search-page__select {
  cursor: pointer;
  display: flex;
  padding: 0px 14px;
  background-color: #f3f3f3;
  align-items: center;
}

.search-page__select::before {
  content: '';
  width: 17px;
  height: 17px;
  background: url("../img/icons/menu_page/search-icon.png") 0 0 no-repeat;
}

.search-page__select::after {
  content: "";
  transition: all 0.5s ease 0s;
  width: 10px;
  height: 10px;
  background: url("../img/icons/menu_page/arrow-down.png") 0 0 no-repeat;
}

.search-page__select._active::after {
  transform: rotate(-180deg);
}

.search-page__title {
  color: #666666;
  font-weight: 300;
  align-items: center;
}

.search-page__title span {
  margin: 0px 13px;
  border-bottom: 1px dashed;
}

.search-page__title span:last-child {
  display: none;
}

.search-page__categores {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.search-page__input {
  flex: 1 1 auto;
  border: 2px solid #f2f2f2;
}

.search-page__input input {
  outline: none;
  height: 37px;
  border: none;
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

.search-page__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  height: 39px;
  background-color: #f68038;
  outline: none;
  color: #fff;
  font-size: 12px;
  font-weight: 900px;
  line-height: 18px;
  text-transform: uppercase;
  border: 2px solid #ff8a42;
  width: 70px;
  right: 0;
}

.categores-search {
  display: none;
  background-color: #fff;
  border: 1px solid #f3f3f3;
}

.categores-search::after {
  content: "";
  background-color: #f68038;
  height: 4px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.categores-search._active {
  display: block;
}

.categores-search ul {
  padding: 0;
}

.categores-search__column {
  flex: 0 1 33.333%;
  padding: 27px 40px;
  border-right: 1px solid #f3f3f3;
}

.categores-search__column:last-child {
  border: 0;
}

.categores-search__list li {
  margin: 0px 0px 20px 0px;
  list-style-type: none;
}

.categores-search__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.categores-search__list li a {
  text-decoration: none;
}

.categores-search__link {
  color: #969696;
}

.categores-search__checkbox .checkbox__input:checked + .checkbox__text {
  color: #f68038;
}

.categores-search__checkbox .checkbox__text {
  color: #969696;
}

.categores-search__checkbox .checkbox__text::before {
  display: none;
}

.mainslider__slide {
  position: relative;
}

.mainslider__content {
  position: relative;
  z-index: 2;
}

.mainslider__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.mainslider__dots {
  position: relative;
  z-index: 1000;
  margin: -37.5px 0px 0px 0px;
  display: flex;
  justify-content: center;
  counter-reset: item;
}

.mainslider__dots .swiper-pagination-bullet {
  cursor: pointer;
  margin: 0px 23px;
  width: 55px;
  height: 55px;
  overflow: hidden;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border: 2px solid white;
  opacity: 1;
}

.mainslider__dots .swiper-pagination-bullet::after {
  opacity: 0;
  transition: 0.4s all ease 0s;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff8a42;
  counter-increment: item;
  content: counter(item);
}

.mainslider__dots .swiper-pagination-bullet-active {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}

.mainslider__dots .swiper-pagination-bullet-active::after {
  opacity: 1;
}

.content-mainslider {
  padding: 20px 35px 60px 35px;
}

.content-mainslider a {
  text-decoration: none;
}

.content-mainslider__title {
  color: #333333;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 43px;
  margin: 0px 0px 50px 0px;
}

.content-mainslider__title span {
  color: #f68038;
  display: block;
}

.content-mainslider__footer {
  padding: 15px 0px 0px 0px;
  text-align: center;
}

.content-mainslider__price {
  margin: 0px 0px 24px 0px;
  color: #fff;
  font-size: 36px;
  font-weight: 900;
  line-height: 24px;
}

.content-mainslider__button {
  width: 33px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
}

.content-mainslider__button span {
  border-radius: 15px;
  border: 3px solid white;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  padding: 0px 30px 0px 9px;
  background: url("../img/icons/menu_page/arrow.png") right no-repeat;
}

.text-mainslider {
  color: #333;
  font-size: 14px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
}

.text-mainslider__text-1 {
  color: #f68038;
  font-size: 18px;
}

.text-mainslider__text-2 {
  color: #fff;
  line-height: 1;
  padding: 5px 10px;
  background-color: #92919e;
  display: inline-block;
}

.text-mainslider__text-3 {
  color: #969696;
}

.news-side {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.news-side__title {
  display: inline-block;
  margin: 0px 0px 0.5em 0px;
  color: #dadada;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
}

.news-side__label {
  color: #333;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0px 0px 1.66667em 0px;
  display: inline-block;
}

.news-side__item {
  margin: 0px 0px 45px 0px;
}

.news-side__item:last-child {
  margin: 0px;
}

.news-side__body {
  display: flex;
}

.news-side__data {
  flex: 0 0 30px;
  text-align: center;
  color: #d8d8d8;
  font-size: 18px;
  font-weight: 300;
}

.news-side__data span {
  font-size: 24px;
  font-weight: 900;
  display: block;
}

.news-side__text {
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  padding: 0px 0px 0px 15px;
}

.reviews-side {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reviews-side__title {
  display: inline-block;
  margin: 0px 0px 0.5em 0px;
  color: #dadada;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
}

.reviews-side__item {
  margin: 0px 0px 45px 0px;
  display: block;
}

.reviews-side__item:last-child {
  margin: 0px 0px 45px 0px;
}

.reviews-side__header {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
}

.reviews-side__user {
  color: #000000;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
}

.reviews-side__data {
  color: #969696;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-transform: uppercase;
}

.reviews-side__body {
  padding: 14px 8px 14px 30px;
  position: relative;
  color: #969696;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.reviews-side__body::before {
  color: #dadada;
  font-size: 48px;
  font-weight: 900;
  content: '"';
  position: absolute;
  left: 8px;
  top: 12px;
  line-height: 1;
}

.products-slider__header {
  display: flex;
  margin: 0px 0px 30px 0px;
}

.products-slider__title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  flex: 1 1 auto;
  color: #dadada;
  font-family: "Roboto Medium";
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

@media (min-width: 767.98px) {
  .top-header__column__logo {
    align-self: flex-start;
    padding: 25px 0px 0px 19px;
  }
}

@media (min-width: 911.98px) {
  .contacts-header__column {
    border-left: 1px solid white;
  }

  .contacts-header__column:first-child {
    border: 0;
  }

  .actions-header__item:hover {
    color: #1cb9ce;
  }

  .page__container {
    display: flex;
  }

  .page__content {
    min-width: 0;
    flex: 1 1 auto;
    padding: 0px 0px 0px 30px;
  }

  .menu-page__parent._active .submenu-page__item {
    z-index: 3;
    transform: translate(0px, 0px);
  }

  .menu-page__link:hover {
    background-color: #098494;
  }

  .menu-page__submenu {
    width: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
  }

  .submenu-page__item {
    display: block;
    width: 280px;
    border: 2px solid #098494;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    transform: translate(-100%, 0px);
    transition: all 0.4s ease 0s;
  }

  .submenu-page__link:hover {
    background-color: #71c7d3;
    color: #fff;
  }

  .item-product__title:hover {
    text-decoration: underline;
  }

  .item-product:hover .item-product__hover {
    transform: translate(0px, 0px);
  }

  .item-product:hover .item-product__title,
  .item-product:hover .item-product__footer {
    opacity: 0;
  }

  .news-side__title:hover {
    color: #1aa7b9;
  }

  .news-side__label:hover {
    color: #f68038;
  }

  .reviews-side__title:hover {
    color: #1aa7b9;
  }

  .reviews-side__item:hover .reviews-side__user,
  .reviews-side__item:hover .reviews-side__data {
    color: #1aa7b9;
  }

  .reviews-side__item:hover .reviews-side__body {
    background-color: #1aa7b9;
    color: #fff;
  }

  .reviews-side__item:hover .reviews-side__body::before {
    color: #71c7d3;
  }
}

@media (min-width: 992px) {
  .search-page__btn:hover {
    background-color: #91481c;
  }

  .categores-search__row {
    display: flex;
  }
}

@media (max-width: 1192px) {
  .menu__list {
    grid-template-columns: 90px 110px 160px;
  }

  .menu__link {
    padding: 5px 15px;
  }

  .contacts-header__column {
    padding: 0px 15px;
  }

  .contacts-header__item {
    padding: 0px 0px 0px 25px;
  }

  .contacts-header__phone {
    font-size: 16px;
  }

  .actions-header__item {
    padding: 0px 0px 0px 30px;
  }

  .info-header__column {
    padding: 0px 1.69492vw 0px 0px;
  }

  .info-header__callback {
    background: none;
    padding: 0;
  }

  .info-header__schedue {
    background: none;
    padding: 0;
  }

  .info-header__cart span {
    right: -10px;
  }

  .categores-search__column {
    padding: 27px 20px;
  }
}

@media (max-width: 1180px) {
  .actions-header li {
    margin: 0px 2.54237vw 0px 0px;
  }

  .info-header__column {
    padding: 0px 2.54237vw 0px 0px;
  }
}

@media (max-width: 911.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50%);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    transform: scale(0);
  }

  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: 8px;
  }

  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: 8px;
  }

  .menu__body {
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    visibility: hidden;
    transition: all 0.4s ease 0s;
    left: 0;
    overflow: auto;
    background-color: #fff;
    z-index: 2;
    padding: 120px 20px 30px 20px;
  }

  .menu__body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: #2a9aad;
  }

  .menu__body._active {
    top: 0;
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .menu__list {
    display: block;
  }

  .menu__list li {
    margin: 0px 0px 20px 0px;
  }

  .menu__list li a {
    color: #000;
  }

  .menu__link:hover {
    background-color: #068292;
  }

  .menu__link {
    padding: 0;
    font-size: 20px;
  }

  .contacts-header {
    justify-content: flex-end;
  }

  .contacts-header__item_second-phone {
    display: none;
  }

  .actions-header__item {
    padding: 0;
    background: none;
  }

  .info-header__schedue {
    display: none;
  }

  .page__side {
    overflow: hidden;
  }

  .menu-page {
    margin-bottom: 30px;
  }

  .menu-page__parent .menu-page__link::after {
    transform: translate(0px, -50%) rotate(90deg);
  }

  .menu-page__parent._active .menu-page__link::after {
    content: '';
    transform: translate(0px, -50%) rotate(-90deg);
  }

  .menu-page__link {
    font-size: 16px;
  }

  .submenu-page {
    background-color: #fff;
  }

  .submenu-page__link {
    font-size: 16px;
    padding: 10px 20px;
  }

  .submenu-page__product {
    display: none;
  }

  .categores-search__row {
    padding: 20px 0px;
  }

  .categores-search__column {
    padding: 0px 20px;
    margin: 0px 0px 24px 0px;
  }

  .categores-search__column:last-child {
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 911.98px) and (max-width: 767.98px) {
  .menu__body {
    padding: 90px 20px 30px 20px;
  }

  .menu__body::before {
    content: '';
    height: 70px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    padding: 0 10px;
  }

  .header {
    background: #fff url("../img/bg-header1920.png") 0 -20px no-repeat;
  }

  .top-header__content {
    height: 70px;
  }

  .top-header__column__logo {
    flex: 0 0 100px;
  }

  .top-header__logo {
    width: 100px;
  }

  .top-header__logo img {
    max-width: 100%;
  }

  .page {
    padding: 133px 0px 0px 0px;
  }

  .search-page__select {
    display: none;
  }
}

@media (max-width: 640px) {
  .top-header__logo {
    width: 90px;
  }

  .contacts-header {
    align-items: center;
  }

  .contacts-header__column {
    padding: 0;
  }

  .contacts-header__item {
    background: none;
    padding: 0;
  }

  .contacts-header__lable {
    display: none;
  }

  .contacts-header__phone {
    background: url("../img/icons/header/phone.png") left no-repeat;
    font-size: 0;
    width: 19px;
    height: 25px;
    display: block;
    margin: 0px 10px 0px 0px;
  }

  .bottom-header__container {
    display: none;
  }

  .actions-header {
    justify-content: space-between;
    margin: 0px 0px 15px 0px;
  }

  .info-header__cart {
    width: 40px;
    height: 40px;
  }

  .info-header__cart span {
    font-size: 14px;
    padding: 0px 5px;
    line-height: 20px;
    right: -5px;
  }

  .page {
    padding: 85px 0px 0px 0px;
    z-index: 100;
  }
}